<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
//    ->setRules([
//        '@PSR1' => true,
//        '@PSR2' => true,
//        'single_line_after_imports' => false
//    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
           ->exclude('tests')
           ->in(__DIR__)
    );