<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Idles unit tests">
        <directory>tests/Idles</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="on"/>
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>