pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
  }
  code.hljs {
    padding: 3px 5px
  }
  /*!
    Theme: Tokyo-night-Dark
    origin: https://github.com/enkia/tokyo-night-vscode-theme
    Description: Original highlight.js style
    Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
    License: see project LICENSE
    Touched: 2022
  */
  /*  Comment */
  .hljs-meta,
  .hljs-comment {
    color: #565f89
  }
  /* Red */
  /*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
  .hljs-tag,
  .hljs-doctag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-template-tag,
  .hljs-selector-pseudo,
  .hljs-selector-attr,
  .hljs-variable.language_,
  .hljs-deletion {
    color: #f7768e
  }
  /*Orange */
  /*INFO: Number and Boolean constants, Language support constants */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-number,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-link {
    color: #ff9e64
  }
  /*  Yellow */
  /* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
  .hljs-built_in,
  .hljs-attribute {
    color: #e0af68
  }
  /* cyan */
  /* INFO: Language support functions, CSS HTML elements */
  .hljs-selector-tag {
    color: #2ac3de
  }
  /* light blue */
  /* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
  .hljs-keyword,
  .hljs-title.function_,
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-subst,
  .hljs-property {
    color: #7dcfff
  }
  /*Green*/
  /* INFO: Object literal keys, Markdown links, Terminal Green */
  .hljs-selector-tag {
    color: #73daca
  }
  /*Green(er) */
  /* INFO: Strings, CSS class names */
  .hljs-quote,
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #9ece6a
  }
  /* Blue */
  /* INFO:  	Function names, CSS property names, Terminal Blue */
  .hljs-code,
  .hljs-formula,
  .hljs-section {
    color: #7aa2f7
  }
  /* Magenta */
  /*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
  .hljs-name,
  .hljs-keyword,
  .hljs-operator,
  .hljs-keyword,
  .hljs-char.escape_,
  .hljs-attr {
    color: #bb9af7
  }
  /* white*/
  /* INFO: Variables, Class names, Terminal White */
  .hljs-punctuation {
    color: #c0caf5
  }
  .hljs {
    background: #1a1b26;
    color: #9aa5ce
  }
  .hljs-emphasis {
    font-style: italic
  }
  .hljs-strong {
    font-weight: bold
  }
@font-face{font-family:Roboto;src:url(75371f53f06181df75f1.ttf);font-weight:700}@font-face{font-family:Roboto;src:url(7429a63c09f79a1760b0.ttf);font-weight:500}@font-face{font-family:Roboto;src:url(a8d6ac03c7b96b7acb62.ttf);font-weight:400}@font-face{font-family:Roboto;src:url(beb7fe13e61b9e683c37.ttf);font-style:italic}@font-face{font-family:Roboto;src:url(8be2d1487420548b3b8d.ttf);font-weight:300}@font-face{font-family:Roboto;src:url(1711b41f3ae4cb322eea.ttf);font-weight:200}@font-face{font-family:SourceCodePro;src:url(5613d62b54d755a00a78.ttf)}@font-face{font-family:Bungee;src:url(b99ce5d947d41215793d.ttf);font-weight:400}*{margin:0px;padding:0px;box-sizing:border-box;border:0;font-style:normal;font-weight:400}:root{--body-color: #fff;--text-color: #64748b;--border-color: #E9E9EA;--background-color: #EBEDED;--highlight-color: #fff}:root.dark{--body-color: #111728;--text-color: #919DB0;--border-color: #2A2E3E;--background-color: #202839;--highlight-color: #111728}html{font:16px/24px Roboto;color:var(--text-color)}@media(max-width: 1200px){html{font-size:14px;line-height:20px}}@media(max-width: 800px){html{font-size:13px;line-height:18px}}a{color:var(--text-color);text-decoration:underline}a:hover{text-decoration:none}ul>li{list-style:none;display:inline}input,::placeholder{font:16px/24px Roboto}*:focus{outline:none !important}#theme-picker svg:last-child{display:none}html.dark #theme-picker svg:first-child{display:none}html.dark #theme-picker svg:last-child{display:block}body{background-color:var(--body-color)}body>div{position:relative;padding-left:16rem}body>header{position:sticky;top:0;display:flex;align-items:center;justify-content:space-between;height:4rem;box-shadow:rgba(149,157,165,.2) 0px 8px 24px;background-color:var(--background-color);padding-right:1em;z-index:1}body>header>div{display:flex;align-items:center;font-size:1.2rem}body>header>div:first-of-type>strong{font-size:1.5rem;font-weight:600;padding:0 .4em 0 0}body>header>div:first-of-type>a{display:flex;align-items:center;background:no-repeat url(75c31c36966e8dd4f3e9.png) left center/0.7em;font-family:Bungee;text-decoration:none;font-size:3.5rem;line-height:1em;padding:0 .2em 0 .8em}body>header>div:last-of-type{padding-top:.3em;gap:2em}body>header>div>a{display:flex;flex-direction:column;align-items:center;justify-content:center;text-decoration:none;text-transform:uppercase;font-size:.6em}body>header>div>a svg{width:2rem;height:2rem;margin:0 .5em}aside{position:fixed;inset:4rem auto 0 0;width:16rem;background-color:var(--background-color);padding-top:.5em;user-select:none}aside button{position:absolute;right:-2.1em;top:1em;width:2em;height:2em;background-color:var(--background-color);padding:.1em;border-radius:0 6px 6px 0;cursor:pointer}aside button>svg{fill:var(--text-color);opacity:.6}aside button:hover>svg{opacity:1}aside .search{position:relative;padding:0 .2em}aside .search>input{padding:.2em 1.4em .2em 1.4em;font-size:1.2rem;color:var(--text-color);border:1px solid var(--border-color);font-weight:300}aside .search>input:first-of-type{position:absolute;top:0;left:.2em;right:.2em;height:100%;border-color:rgba(0,0,0,0);z-index:-1;opacity:.6;color:#a8a8a8;background-color:var(--body-color)}aside .search>input:last-of-type{background-color:rgba(0,0,0,0);width:100%;border-radius:.2em}aside .search>input:last-of-type::placeholder{font-family:Roboto;font-weight:200}aside .search>span{display:flex;position:absolute;top:calc(50% - .7em);right:.6em;width:1.4em;height:1.4em;color:var(--text-color);border:1px solid currentColor;opacity:.6;border-radius:3px;line-height:1em;justify-content:center;align-items:center}aside .search[data-active=true]>span{display:none}aside .search>svg{position:absolute;left:.5em;width:1em;height:100%}aside .search>svg:first-child{inset:0 auto .6em .3em}aside .search>svg:last-child{inset:0 .6em 0 auto;cursor:pointer}aside nav{position:absolute;top:3em;bottom:1em;left:0;right:0;overflow-y:auto;scrollbar-width:thin;scrollbar-color:var(--text-color) var(--body-color)}aside nav::-webkit-scrollbar{width:4px;height:4px;background-color:var(--body-color)}aside nav::-webkit-scrollbar-thumb{background-color:var(--text-color)}aside nav>a{display:flex;justify-content:space-between;align-items:center;gap:1em;text-decoration:none;padding:0 .8em;line-height:2em;white-space:nowrap;transition:all .3s;font-weight:300}aside nav>a.current,aside nav>a:hover{background-color:var(--highlight-color)}aside nav>a>span>span{font-weight:300}aside nav>a>span>span>em{font-weight:400}aside nav>a>span>span:not([title=""]){opacity:.6}aside nav>a>i{font-size:.55em;line-height:1.6em;padding:0 .4em;text-transform:uppercase;color:var(--body-color);background-color:var(--text-color);border-radius:4px;opacity:.5}aside .nothing{text-align:center;padding:2em 0}aside #resize{position:absolute;inset:50% -0.9em auto auto;width:1.8em;height:1.8em;background-color:var(--text-color);color:var(--background-color);border-radius:50%;padding:.4em;cursor:ew-resize}.help{position:fixed;padding:1em;background-color:var(--background-color);border-radius:6px;box-shadow:rgba(149,157,165,.2) 0px 8px 24px}.help>button{position:absolute;top:.5em;right:.5em;width:1.2em;height:1.2em;background-color:rgba(0,0,0,0);color:var(--text-color);font-size:1.3em;opacity:.6;cursor:pointer}.help>button:hover{opacity:1}.help::before{position:absolute;top:18px;left:-18px;width:20px;height:30px;background-color:var(--background-color);clip-path:polygon(100% 0, 0 50%, 100% 100%);content:""}.help strong{font-size:1.2rem;line-height:2em}.help code{border:1px solid var(--text-color);border-radius:4px;padding:4px;margin:0 .5em}.help code:first-of-type{margin-left:0}.help>ul>li{display:block;line-height:2.5em}h1{font-weight:700;line-height:2em;margin:1em 0 0 2em;text-align:center}main{max-width:1024px;margin:0 auto;padding:0 .5rem;background-color:rgba(0,0,0,0)}main section{overflow-y:auto;padding:0 1em}main section>p{margin:.5em 0}main section>p>strong,main section>p>strong *{font-weight:500}main section>p>em{font-style:italic}main section>p>code{font-family:SourceCodePro;font-variation-settings:"wght" 500}main section>h2{font-size:2rem;line-height:1.3em;text-transform:uppercase;margin:1em 0 .3em 0}main section:not([id]){margin:0;background-color:var(--background-color);padding:0 1em}main section:not([id])>h2{color:var(--text-color)}main article{border-radius:6px;background-color:var(--background-color)}main article h2{padding:.5em;font-size:2.2rem;font-variation-settings:"wght" 500}main article h2>a{text-decoration:none}main article h2>a:hover{text-decoration:underline}main article h3{font-weight:500;font-size:1.2rem}main article>header{display:flex;justify-content:space-between;align-items:center}main article>header>ul{display:flex;align-items:center;gap:.5em;margin-right:1rem}main article>header>ul>li{display:inline-block}main article>header>ul>li>a{display:block;width:2em;height:2em;background:no-repeat center/contain}main article>header>ul>li>a.numerical{background-image:url(b4161abd5602833c1ae9.svg)}main article>header>ul>li>a.lazy{background-image:url(e4990e4077647fd333d5.svg);background-size:1.2em}main article>header>ul>li:last-child{text-transform:uppercase;font-size:.7rem;color:var(--body-color);background-color:var(--text-color);padding:0 .4em;border-radius:6px;opacity:.6}main article pre{margin:.5em !important}main article pre>code{padding:1em !important;border-radius:.3em}main article>div{padding:1em;position:relative}main article>div.links{padding:0 1em .5em 1em;display:flex;justify-content:flex-end}main article>div.links>a{font-weight:300;opacity:.8;text-decoration:none;width:2em;height:2em;margin:0 .2em;background:no-repeat center/1.5em}main article>div.links>a:hover{opacity:1}main article>div.links>a.code{background-image:url(fdc11a10ffce034a1982.svg)}main article>div>.copy{position:absolute;bottom:2em;right:2em;width:1.2em;height:1.2em;cursor:pointer;content:url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M0 0h24v24H0V0z\"/><path fill=\"gray\" d=\"M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z\"/></svg>")}main article table td{padding-right:.5em}main article table pre,main article table code{padding:0 !important;margin:0 !important}main article table code{padding:.1em .5em !important}main article table td:nth-child(3){font-style:italic;font-weight:400}main article[id]{margin:2em 0 2em 0;scroll-margin-top:7em}main article[id] pre[id]{scroll-margin-top:4em}main article[id] pre[id]:target>code{background-color:rgba(255,255,0,.4)}main article[id] li[id]{scroll-margin-top:6em}main article[id] li[id]:target{background-color:rgba(255,255,0,.4)}main article ul>li>a{font-family:SourceCodePro;font-variation-settings:"wght" 500;margin:0 .2em}pre{font-size:.9rem !important}pre>code{font-family:SourceCodePro}.buttons{display:flex;justify-content:center;align-items:center;gap:2em;margin:1em}#goup{position:fixed;right:1em;bottom:1em;z-index:999;width:2em;height:2em;background-color:var(--body-color);border-radius:50%;cursor:pointer}#goup path{fill:var(--text-color)}#goup path:first-child{fill:var(--background-color)}.lazy-icon{display:flex;align-items:center}.lazy-icon::before{width:2em;height:2em;background:no-repeat url(e4990e4077647fd333d5.svg) center/1.2em;margin-right:1em;content:""}.numeric-icon{display:flex;align-items:center}.numeric-icon::before{width:2em;height:2em;background:no-repeat url(b4161abd5602833c1ae9.svg) center/2em;margin-right:1em;content:""}
